h1 {
    text-align: center;
    margin: 50px 0;
}

.card_user{
    border-radius: 25px;
    border: solid;
    display: flex;
    margin: 20px 15%;
    padding: 20px 50px;
    justify-content: space-between;
}

.pp_name{
    display: flex;
    align-items: center;
}

h2 {
    text-align: center;
}

img {
    width: 50px;
    margin-right: 20px;
}

.btn_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

p{
    text-align: center;
}